*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

body {
  background: #020024;
  background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  font-family: "Poppins";
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  margin-top: 20px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__author-profile {
  width: 40px;
  height: 40px;
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__author-name {
  margin-left: 5px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__menu * + * {
  margin-left: 40px;
}

.header__contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  width: 122px;
  height: 50px;
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__contact-btn:hover {
  -webkit-box-shadow: 0 0px 15px 0 rgba(252, 104, 110, 0.65);
          box-shadow: 0 0px 15px 0 rgba(252, 104, 110, 0.65);
}

.header__contact-me {
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}

.main__inner {
  margin-top: 70px;
}

.main__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 590px;
}

.main__about-intro {
  max-width: 1220px;
  height: 360px;
  font-weight: 700;
  font-size: 100px;
  line-height: 120%;
}

.main__about-text {
  margin-top: 20px;
  max-width: 489px;
  height: 144px;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
}

.main__about-image {
  max-width: 487px;
  height: 650px;
}

.main__about-cv {
  margin-top: 20px;
  text-align: center;
}

.main__about-cv-btn {
  padding: 10px 20px;
  width: 182px;
  height: 50px;
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.main__about-picture {
  border-radius: 20%;
}

.main__about-side {
  position: absolute;
  width: 256px;
  height: -50px;
  right: 10px;
  top: 450px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.585em;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main__about-connect {
  cursor: pointer;
  margin-top: -50px;
  font-size: 15px;
  line-height: 180%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

.main__about-connect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__about-connect-link:hover .main__about-connect-arrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.main__about-connect-text {
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main__about-connect-arrow {
  margin-left: 10px;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.author_resume {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
}

.skills__inner {
  margin-top: 100px;
}

.skills__title {
  text-align: center;
  margin-bottom: 50px;
}

.skills__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__cards * + * {
  margin-left: 20px;
}

.skills__card {
  cursor: pointer;
  padding: 30px;
  height: 60px;
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins";
}

.language-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#tabs li.active {
  background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
  color: #fff;
}

#tabs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#tabs li {
  color: #fff;
  font-family: "Poppins";
  border: none;
}

ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  border: 1px solid #fff;
  outline: none;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 20px;
}

.ui-tabs .ui-tabs-nav {
  padding: 8px !important;
}

ul.tabs li a:hover {
  background: #ccc;
}

html ul.tabs li.active, html ul.tabs li.active a:hover {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tabContainer {
  border: 1px solid #999;
  overflow: hidden;
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 8px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 8px;
  -moz-border-radius-topleft: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
}

.tabContent {
  font-size: 16px;
  padding: 20px;
}

.colorz {
  background: #ff6600 !important;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */