@import "./reset";
@import "variables";

body {
    background: rgb(2,0,36);
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
    font-family: "Poppins";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $white;
    // height: 100vh;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    margin-top: 20px;
}

.header__nav {
    display: flex;
}

.header__author {
    display: flex;
    align-items: center;
}

.header__author-profile {
    width: 40px;
    height: 40px;
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__author-name {
    margin-left: 5px;
}

.header__menu {
    display: flex;
    align-items: center;
    margin: 0 auto;
    * + * {
        margin-left: 40px;
    }
}

.header__menu-item {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left:2px;
        width: 10px;
        height: 2px;
        background-color: #EEAA55;
        visibility: hidden;
        transition: all .2s ease-in;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right:2px;
        width: 10px;
        height: 2px;
        background-color: #EEAA55;
        visibility: hidden;
        transition: all .2s ease-in;
    }

    &:hover::before{
        color: #EEAA55;
        visibility: visible;
        width: 50%;
    }

    &:hover::after{
        color: #EEAA55;
        visibility: visible;
        width: 50%;
    }

    // &:hover {
    //     padding-bottom: 2px;
    // }

}

.header__contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 122px;
    height: 50px;
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease-in;
    &:hover {
        // background: linear-gradient(213#fc6076, #ff9a44, #ef9d43, #e75516);
        box-shadow: 0 0px 15px 0 rgba(252, 104, 110, 0.65);
}
}

.header__contact-me {
    color: $white;
    font-size: 20px;
    cursor: pointer;
    
}

// About me

.main__inner {
    margin-top: 70px;
}
.main__about {
    display: flex;
    height: 590px;
}

.main__about-intro {
    max-width: 1220px;
    height: 360px;
    font-weight: 700;
    font-size: 100px;
    line-height: 120%;
}
.main__about-text {
    margin-top: 20px;
    max-width: 489px;
    height: 144px;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
}
.main__about-image {
    max-width: 487px;
    height: 650px;
}

.main__about-cv {
    margin-top: 20px;
    text-align: center;
}

.main__about-cv-btn {
    padding: 10px 20px;
    width: 182px;
    height: 50px;
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}
    
.main__about-picture {
    border-radius: 20%;
}

.main__about-side {
    position: absolute;
    width: 256px;
    height:-50px;
    right: 10px;
    top: 450px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.585em;
    color: rgba(255, 255, 255, 0.3);
    transform: rotate(90deg);
}

.main__about-connect {
    cursor: pointer;
    margin-top: -50px;
    font-size: 15px;
    line-height: 180%;
    display: flex;
    align-items: center;
    width: 100px;
}
.main__about-connect-link {
    display: flex;
    &:hover .main__about-connect-arrow{
        transform: translateX(10px);
    }
}

.main__about-connect-text {
    // color: #EEAA55;
    // color: 
        background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.main__about-connect-arrow {
    margin-left: 10px;
    transition: transform .3s ease-in;
}

.author_resume {
    position: absolute;
    top:0;
    left:0;
    width: 500px;
    height: 500px;
}

// About me

//Skills
.skills__inner {
    margin-top: 100px;
}

.skills__title {
    text-align: center;
    margin-bottom: 30px;
}

.skills__cards {
    display: flex;
    flex-wrap: wrap;
    * + * {
         margin-left: 20px;
    }
}

.skills__card {
    cursor: pointer;
    // width: 140px;
    // width: auto;
    padding: 30px;
    height: 60px;
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";

}

.language-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#tabs li.active {
    background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 {
    color: #fff;
    display: flex;
    justify-content: center;
    // margin: 0 auto;
}

#tabs a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tabs__item {
    display: flex;
    align-items: center;
}
    #tabs ul {
        display: flex;
        justify-content: space-between;
    }
    #tabs li {
        color: #fff;
        font-family: "Poppins";
        border: none;
    }
     
    .ui-tabs .ui-tabs-nav {
        padding: 8px !important;
    }

// .projects__cards {
//     margin-top: 40px;
// }
// .projects__card {
//     // background: linear-gradient(214.02deg, #EA5F5F 6.04%, #EEAA55 92.95%);
// // box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
// // border-radius: 50px;
//     cursor: pointer ;
//     position: relative;
//     transition: all .2s ease-in;
//     width: 389px;
//     height: 250px;
//     &:hover {
//         filter: brightness(60%);
//     }
// }

// .projects__card-img {
//     width: 389px;
//     height: 250px;
//     border-radius: 50px;
// }

// .projects__card-github {
//     position: absolute;
//     left:120px;
//     bottom: 20px;
//     z-index: 2;
// }

// .projects__card-view {
//     position: absolute;
//     left:200px;
//     bottom: 20px;
//     width: 40px;
//     height: 40px;
//     z-index: 2;
// }


//Portfolio

.portfolio__inner {
    margin: 150px 0;
}
.portfolio__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.portfolio__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    * + * {
        margin-left: 20px;
    }
}

.portfolio__card {
    width:40%;
    border-radius: 30px;
    transition: filter .2s ease-in;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
        filter: brightness(70%);
    }
    &:hover .portfolio__card-link {
        visibility: visible;
        opacity: 1;
        bottom: 30px;
    }
}

.portfolio__card-img {
    // width: 30%;
    border-radius: 50px;
    position: relative;
    width: 800px;
    height: 300px;
}

.portfolio__card-link {
    visibility: hidden;
    opacity: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    transition: all .3s ease-in;
}

//Portfolio


























// Footer
// Footer